.container {
  //margin: 0 auto;
  //max-width: 1248px;
  //padding: 0 15px;
  /* background-color: aquamarine; */
}

.main {
  display: 1 1 auto;
}
.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: #e5e5e5;
  min-height: 100vh;
  /* max-width: 1440px; */
}
