.contacts {
  background: #f6f6f6;
  padding: 40px 96px;
  &__container {
    @media (min-width: 900px) {
      width: 721px;
    }
    background: #fff;
    border-radius: 12px;
  }
}
.title {
  padding: 16px 24px;
  & > h2 {
    font-weight: 700;
    font-size: 32px;
  }
}
.paragraphs {
  & > p:first-child {
    padding: 24px;
    color: #808080;
    & > a {
      color: #292929;
      font-weight: 500;
      font-size: 20px;
    }
  }
  & > P:nth-child(3) {
    padding: 24px;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    line-height: 28px;
    & > a:first-child {
      color: #ec8d1e;
    }
  }
}
.hr {
  background: #eaeaea;
  width: 100%;
  height: 1px;
}
